# Check memory allocation in Python Lists

In [2]:
import random
import pandas as pd
import numpy as np
N = 3
from ctypes import c_int, addressof

In [13]:
a = np.random.randn(10,10)

In [6]:
a = [468, 468, 468]

In [8]:
[id(id(i)) for i in a]

[140094193806160, 140094193806096, 140094193806096]

In [29]:
x = [(3456 + idx) for idx in range(10)]

In [27]:
n = np.array([id(y) for y in x])
n[:-1] - n[1:]

array([-1408,   192, -1344,   320,  2304, -2592,  -128,  -128,  2560])

In [30]:
m = np.array([addressof(c_int(y)) for y in x])
m[:-1] - m[1:]

array([   0,    0,    0,    0,    0,    0,    0,    0, -128])

In [64]:
def get_square_matrix(n:int):
    A = [[0] * n] * n
    for i in range(n):
        for j in range(n):
            A[i][j] = 93
            print(id(A[i][j]))
    return A

In [65]:
# Create a N x N matrix and observe it's contents
A = get_square_matrix(3)
A

94855695411392
94855695411392
94855695411392
94855695411392
94855695411392
94855695411392
94855695411392
94855695411392
94855695411392

[[93, 93, 93], [93, 93, 93], [93, 93, 93]]

In [66]:
records = []
for i in range(3):
    for j in range(3):
        records.append([i, j, A[i][j], id(A[i][j])])

comp_df = pd.DataFrame(records, columns = ["RowIdx", "ColIdx", "Value", "MemoryAddress"])
comp_df["MemoryDistance"] = comp_df.MemoryAddress.shift() - comp_df.MemoryAddress  
comp_df

   RowIdx  ColIdx  Value   MemoryAddress  MemoryDistance
0       0       0     93  94855695411392             NaN
1       0       1     93  94855695411392             0.0
2       0       2     93  94855695411392             0.0
3       1       0     93  94855695411392             0.0
4       1       1     93  94855695411392             0.0
5       1       2     93  94855695411392             0.0
6       2       0     93  94855695411392             0.0
7       2       1     93  94855695411392             0.0
8       2       2     93  94855695411392             0.0

In [54]:
def get_square_matrix(n:int):
    A = []
    for i in range(n):
        records = []
        for j in range(n):
            records.append(None)
        A.append(records)
    print(A)
    for i in range(n):
        for j in range(n):
            A[i][j] = random.randint(0,10)
    
    return A

In [60]:
import numpy as np
# A = get_square_matrix(N)
A = np.ones((3,3), np.uint8)

records = []
for i in range(3):
    for j in range(3):
        records.append([i, j, A[i][j], id(A[i][j])])

comp_df = pd.DataFrame(records, columns = ["RowIdx", "ColIdx", "Value", "MemoryAddress"])
comp_df["MemoryDistance"] = comp_df.MemoryAddress -comp_df.MemoryAddress.shift() 
comp_df

   RowIdx  ColIdx  Value    MemoryAddress  MemoryDistance
0       0       0      1  140147800368080             NaN
1       0       1      1  140147800370928          2848.0
2       0       2      1  140147800367664         -3264.0
3       1       0      1  140148538984304     738616640.0
4       1       1      1  140148538985488          1184.0
5       1       2      1  140148538984528          -960.0
6       2       0      1  140148538984560            32.0
7       2       1      1  140148538985328           768.0
8       2       2      1  140148538984720          -608.0